<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>:: Board ::</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h3>* Add a friend</h3>
        <form action="/" method="POST" class="form-inline">
            <input type="text" name="name" class="form-control" placeholder="name">
            <input type="text" name="age" class="form-control" placeholder="age">
            <input type="text" name="job" class="form-control" placeholder="job">
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <h1>Friend List</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Job</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i in data) { %>
                    <tr>
                        <td><%= data[i].name %></td>
                        <td><%= data[i].age %></td>
                        <td><%= data[i].job %></td>
                        <td><a href="/<%= data[i].id %>" class="btn btn-info">Edit</a></td>
                        <td>
                            <form action="/delete/<%= data[i].id %>" method="POST">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <% if (id) { %>
            <h3>Edit</h3>
            <form action="/<%= id %>" method="POST" class="form-inline">
                <input type="text" name="editName" class="form-control" value="<%= editData.name %>">
                <input type="text" name="editAge" class="form-control" value="<%= editData.age %>">
                <input type="text" name="editJob" class="form-control" value="<%= editData.job %>">
                <input type="submit" value="Modify" class="btn btn-primary">
                <a href="/" class="btn btn-default">Cancel</a>
            </form>
        <% } %>
    </div>
</body>
</html>
